################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Projekt/Spielverleih/.vs
/Projekt/Spielverleih/Model/obj/Debug
/.vs/QArbeit/v15
/.vs
